#Createdby.ignoresupportplugin(hsz.mobi)
###Maventemplate
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/

##File-basedprojectformat:
*.iws
*.iml
*.ipr

##Plugin-specificfiles:

#IntelliJ
/out/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.project
.classpath
.settings
*/target/